* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3b8a89;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    margin: 20px;
}

.level_select button,
.additional button,
.admin button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3b8a89;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.additional button,
.admin button {
    background-color: #01527b;
}

hr {
    border: 1px solid black;
}

.help-button {
    margin-top: 30px;
    font-size: 15px; 
}

.help p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3b8a89;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
