* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3b8a89;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    margin: 20px;
}

#quiz-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#level, #username, #timer {
    font-size: 16px;
}

#question {
    margin-top: 20px;
    font-size: 24px;
}

#options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.option {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #3b8a89;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#previous, #pause, #next, #stop {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #01527b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}




