* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3b8a89;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    margin: 20px;
}

#result-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#points, #time {
    font-size: 18px;
}

#message {
    margin-top: 30px;
    font-size: 20px;
}

#solutions {
    margin-top: 30px;
}

.question-solution {
    margin-bottom: 10px;
}

#actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#home, #contact, #leaderboard {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #01527b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
